<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap = "vendor/autoload.php"
         colors = "true"
         verbose = "true"
         stopOnFailure = "false"
         printerClass = "Codedungeon\PHPUnitPrettyResultPrinter\Printer"
         >
    <testsuites>
        <testsuite name = "Test suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="testdox-html" target = "tests/log/EventogyTests.html"/>
    </logging>
</phpunit>